.nav{
    width: 15dvw;
    min-width: 5dvw;
    flex-shrink: 0;
    flex-direction: column;
    display: flex;
}

.showcase{
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.sep_w{
  width: 1px;
  background-color: var(--border);
  flex-shrink: 0;
}
.sep_h{
  height: 1px;
  background-color: var(--border);
  flex-shrink: 0
}
.chat_window{
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;

  flex: 1;
  overflow-y: auto;
  min-width: 0;
  min-height: 0;
  width: 100%;
  
} 
.chat_window::-webkit-scrollbar {
  width: 8px;
}
.chat_window::-webkit-scrollbar-track {
  background: transparent;
}
.chat_window::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 4px;
}

.chat{
  display: flex;
  flex-direction: column;
  width: min(700px, 90%);
  margin: 0 auto;
  padding-bottom: 100px;
  min-width: 0;

}

.input {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  border-radius: 9999px;
  background-color: rgb(0, 10, 0);
  margin: 10px auto;
  width: 60%;
  padding: 12px 20px;
}

.text_input{
  border: none;
  background: transparent;
  flex: 1;
  outline: none;
  max-height: 9dvh;
  resize: none;
  padding: 0px;
  line-height: 20px;
  height: 20px;

}

.inputButton{
    border:none;
    background: transparent;
    cursor: pointer;
}


.message{
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  max-width: 70%; 
  overflow-x: hidden;
  min-width: 0
}
.user{
  align-self: flex-end;
  background: #2a2a2a;
}
.assistant{
  align-self: flex-start;
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} 

.buttons_nav{
  max-height: 20dvh;
  flex:1;

}
.history{
  max-height: 73dvh;
  flex:1;
  display: flex;
  flex-direction: column;
}
.category_name{
  flex:1;
  display: flex;
  max-height: 2dvh;
  padding: 4px;
  justify-content:center;
  align-items: center;
}
.s_names{
  margin: 1dvh;
  font-size: 0.8rem;
  color:#818181;
}
.chats{
  flex:1;
}